@font-face {
    font-family: 'neoteric';
    src: url('fonts/neoteric__-_regular_commercial_version-webfont.eot');
    src: url('fonts/neoteric__-_regular_commercial_version-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/neoteric__-_regular_commercial_version-webfont.woff2') format('woff2'),
         url('fonts/neoteric__-_regular_commercial_version-webfont.woff') format('woff'),
         url('fonts/neoteric__-_regular_commercial_version-webfont.ttf') format('truetype'),
         url('fonts/neoteric__-_regular_commercial_version-webfont.svg#neotericregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html, body {
	height: 100%;
	font-family: 'neoteric';
    /* letter-spacing: 1px; */
}
header {
	width: 100%;
	position: relative;
	overflow: hidden;
	height: 100%;
}

header > .container {
	width: 750px;
	height: 100%;
	position: relative;
}

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
#committee {
	width: 100%;
	background-color: #000000;
	color: #ffffff;
	padding-top: 10%;
	padding-bottom: 10%;	
}
#committee .row {
	margin-top: 45px;
	margin-bottom: 45px;
}
#committee .members {
	margin-top: 60px;
	margin-left: 100px;
}
footer {
	text-align: center;
	background-color: #000000;
	color: #ffffff;
	padding-bottom: 5%;	
}
